<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- don't esperate too much on reusing this credentials ... i regenerate keys on a  daily basis :D -->
    <add key="audioContainerSasUrl" value="https://resilientvttstore.blob.core.windows.net/audiofiles?st=2017-05-10T08%3A55%3A00Z&amp;se=2017-07-11T08%3A55%3A00Z&amp;sp=rwdl&amp;sv=2016-05-31&amp;sr=c&amp;sig=XISPTo3PSSV%2FhnqepRsWPl13YbSLQdifzHohRM1fQIc%3D"/><!-- replace by your SAS url for the container that receive audio file -->
    <add key="bingSpeechToTextApiKey" value="fbd2b75344904e75836923915aae869a"/>
  </appSettings>
</configuration>