<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="uploadSasUrl" value="https://resilientvttstore.blob.core.windows.net/audiofiles?st=2017-05-05T13%3A12%3A00Z&amp;se=2017-06-06T13%3A12%3A00Z&amp;sp=w&amp;sv=2016-05-31&amp;sr=c&amp;sig=%2FX5DZRAnCg2WcZYwUFdLQsD3a1bO9plRyNrSSvSGF00%3D"/><!-- replace by your SAS url for the container that receive audio file -->
    <add key="apiUrl" value="https://notset.com"/> <!-- replace by the fqdn of your api/function deployment -->
  </appSettings>
</configuration>