<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="uploadSasUrl" value=""/><!-- replace by your SAS url for the container that receive audio file -->
    <add key="apiUrl" value="http://"/> <!-- replace by the fqdn of your webapp deployment -->
  </appSettings>
</configuration>